.jumbo-header{
  display:none;
}

body{
  background-color: #eee;
}

.circle-button{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /*background-color: rgba(0,0,0,0)*/;
  border:2px solid black;
}

.mobile-header-background{
  display:block !important;
  position:relative;
  top:25px;
  text-align: center;
  color:red;
}
