*{
  box-sizing: border-box;
}

.col-33 {width:25%;float:left}

.jumbo-header{
  display:none;
}

body{
  background-color: #eee;
}

.circle-button{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /*background-color: rgba(0,0,0,0)*/;
  border:2px solid black;
  margin:0 auto;
}

.mobile-circle-section{
}

.mobile-header-background{
  display:block !important;
  position:relative;
  top:25px;
  text-align: center;
  color:red;
}
