*{
  box-sizing: border-box;
}

#logo{
  position:absolute;
  bottom:65%;
  width:80%;
  right:9%;
}

.gradient{
  background: #eee;
  height:1500px;
}

.about-hr{
  display: none;
}

.macbooks{
  position:relative;
  top:-65%;
}

.about-irina{
  height:100%;
}

.irina-content{
  font-size: 28px;
}

.carousel{
  position: absolute;
  height:400px;
}

.buttons{
  padding-top: 350px!important;
}

.jumbo-header{
  display:none;
}

.mobile-circle-section{
  height:300px;
}

.mobile-header-background{
  display:block !important;
  position:relative;
  /*top:25px;*/
  text-align: center;
  width:100%;
  height:100%;
}

.mobile-intro-text{
  position:relative;
  top:400px;
  font-size:164px;
}

.mobile-intro-hr{
  position:relative;
  top:300px;
  width:250px;
  border: 2px solid black;
}

.mobile-sub-intro-text{
  position:relative;
  top:310px;
  font-size:72px;
}

#logo{
  top:-80px;
  z-index: -1;
}

.skills-h2{
  font-size:128px!important;
}

li{
  font-size:36px;
}

#working{
  font-size: 64px;
}

#I-would{
  font-size:36px;
}

.col-3-mobile{
  width:33%;
  text-align:center;
  float:left;
}

.space-mobile{
  height:230px;
}

.icons-wrapper{
  width:100%!important;
}

.icons{
  width:225px;
  height:225px;
}

#mobile-no-space{
  display:none;
}
