html{
  height:100%;
}

body{
  height:100%;
  margin:0;
}

p,h1,h2,h3,h4,h5,h6{
  font-family: Helvetica;
  font-weight: lighter;
  color:#636262;
}

ul{
  list-style-position: inside;
}

.space{
  height:100px;
}

.col-25 {width:25%;float:left;text-align:center;}
.col-3 { width:33%;float:left;text-align:center;}
.col-2 { width:50%;float:left;text-align:center;}
.col-12{ width:5%;float:left;text-align:center;}


.about-irina{
  width:80%;
  text-align: center;
  margin:auto;
}


.macBookImages{
  width:340px;
  position:relative;
}

.jumbo-header{
  text-align: center;
}

.intro-text{
  position:relative;
  font-size: 72px;
}

.hr-header{
  position:relative;
  top:-60%;
  border:2px solid black;
}

.sub-intro-text{
  position:relative;
  font-size:48px;
}

.icons{
  width:72px;
  height:72px;
  padding-right: 18px;
}

p[id*='book']{
  display:none;
  position:relative;
  top:-50px;
}

/* Carousel */
.carousel{
  margin:auto;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
}

#carousel-image1{
  padding-left:60px;
  position: relative;
}

#carousel-image2{
  position: relative;
}

#carousel-image3{
  padding-right: 60px;
  position: relative;
}

.button{
  /*position:relative;*/
  opacity:.5;
  position:relative;
  top:100px;
}



/* Misc. */
.circle-button{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /*background-color: rgba(0,0,0,0)*/;
  border:2px solid black;
  margin:auto;
}

.mobile-circle-section{
  text-align: center;
  padding-top: 10px;
  background-color: #aaa;
  height:200px;
}

.mobile-header-background{
  display:none;
}

.social-media-icons{
  position:relative;
  top:18px;
  width:64px;
}

/* Animations***************/

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in .5s both;
    animation: fadeIn 1s ease-in .5s both;
}

.fadeIn2{
    -webkit-animation: fadeIn2 1s ease-in 1.5s both;
    animation: fadeIn2 1s ease-in 1.5s both;
}
/*
.rise:hover{
  -webkit-animation: rise .25s ease-in 0s both;
  animation: rise .3s ease-in 0s both;
}
*/
.hr-width{
  -webkit-animation: hr-width 1s ease-in 1.5s both;
  animation: hr-width 1s ease-in 1.5s both;
}



/*Keyframes***************/


@-webkit-keyframes fadeIn {
    0%{
      opacity: 0;
      top: -55%;
    }
    100%{
      opacity: 1;
      top: -60%;
    }
}

@keyframes fadeIn {
    0%{
      opacity: 0;
      top: -55%;
    }
    100% {
      opacity: 1;
      top: -60%;
    }
}

@-webkit-keyframes fadeIn2 {
    0%{
      opacity: 0;
      top: -55%;
    }
    100%{
      opacity: 1;
      top: -60%;
    }
}

@keyframes fadeIn2 {
    0%{
      opacity: 0;
      top: -55%;
    }
    100% {
      opacity: 1;
      top: -60%;
    }
}


@-webkit-keyframes rise {
    0%{
      top:0px;
    }
    100%{
      top:-50px;
    }
}

@keyframes rise {
    0%{
      top: 0px;
    }
    100% {
      top: -50px;
    }
}

@-webkit-keyframes hr-width {
    0%{
      width: 0px;
    }
    100%{
      width: 300px;
    }
}

@keyframes hr-width {
    0%{
      width:0px;
    }
    100% {
      width:300px;
    }
}
