html{
  height:100%;
}

body{
  height:100%;
  margin:0;
  background-color: #eee;
}

p,h1,h2,h3,h4,h5,h6{
  font-family: Helvetica;
  font-weight: lighter;
  color:#636262;
}

.space{
  height:100px;
}

.down-arrow{
  position:relative;
  top:-390px;
   width:33%;
   align:center;
   height:100px;
   opacity: 0.5;
}

.col-33 {width:25%;float:left;text-align:center;}
.col-3 { width:33%;float:left;text-align:center;}
.col-2 { width:50%;float:left;text-align:center;}

.about-irina{
  width:90%;
  text-align: center;
  margin:auto;
}


.macBookImages{
  width:340px;
  position:relative;
}

.jumbo-header{
  text-align: center;
}

.intro-text{
  position:relative;
  font-size: 72px;
}

.hr-header{
  position:relative;
  top:-60%;
  border:2px solid black;
}

.sub-intro-text{
  position:relative;
  font-size:48px;
}

/* Carousel */
.carousel{
  margin:auto;
}

#carousel-image1{
  padding-left:60px;
}

#carousel-image3{
  padding-right: 60px;
}

button{
  position:absolute;
}
.left{
  left:0px;
  top:1750px;
}

.right{
  right:0px;
  top:1750px;
}



/* Misc. */
.circle-button{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /*background-color: rgba(0,0,0,0)*/;
  border:2px solid black;
  margin:auto;
}

.mobile-circle-section{
  text-align: center;
  padding-top: 10px;
  background-color: #aaa;
  height:200px;
}

.mobile-header-background{
  display:none;
}

.social-media-icons{
  position:relative;
  top:18px;
  width:64px;
}

/* Animations***************/

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in .5s both;
    animation: fadeIn 1s ease-in .5s both;
}

.fadeIn2{
    -webkit-animation: fadeIn2 1s ease-in 1.5s both;
    animation: fadeIn2 1s ease-in 1.5s both;
}

.rise:hover{
  -webkit-animation: rise .5s ease-in 0s both;
  animation: rise .5s ease-in 0s both;
}

.hr-width{
  -webkit-animation: hr-width 1s ease-in 1.5s both;
  animation: hr-width 1s ease-in 1.5s both;
}

/*
.normal-fade{
  -webkit-animation: normal-fade 1s ease-in 1.5s both;
  animation: normal-fade 1s ease-in 1.5s both;
}
*/
.normal-fade-motion{
  animation: normal-fade-motion 5s infinite ease 2.5s;
}


/*Keyframes***************/

@-webkit-keyframes fadeIn {
    0%{
      opacity: 0;
      top: -55%;
    }
    100%{
      opacity: 1;
      top: -60%;
    }
}

@keyframes fadeIn {
    0%{
      opacity: 0;
      top: -55%;
    }
    100% {
      opacity: 1;
      top: -60%;
    }
}

@-webkit-keyframes fadeIn2 {
    0%{
      opacity: 0;
      top: -55%;
    }
    100%{
      opacity: 1;
      top: -60%;
    }
}

@keyframes fadeIn2 {
    0%{
      opacity: 0;
      top: -55%;
    }
    100% {
      opacity: 1;
      top: -60%;
    }
}


@-webkit-keyframes rise {
    0%{
      top:0px;
    }
    100%{
      top:-50px;
    }
}

@keyframes rise {
    0%{
      top: 0px;
    }
    100% {
      top: -50px;
    }
}

@-webkit-keyframes hr-width {
    0%{
      width: 0px;
    }
    100%{
      width: 300px;
    }
}

@keyframes hr-width {
    0%{
      width:0px;
    }
    100% {
      width:300px;
    }
}
/*
@-webkit-keyframes normal-fade{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes normal-fade{
  0%{
    opacity:0;
  }

  50%{
    opacity:.15;
  }
  100%{
    opacity:0.5;
  }
}
*/
@keyframes normal-fade-motion{
  0%{
    top:-390px;
  }
  50%{
    top:-400px;
  }
  100%{
    top:-390px;
  }
}
